
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<span class="skype-button bubble " data-bot-id="@System.Configuration.ConfigurationManager.AppSettings["BotId"]"></span>
<script src="https://latest-swc.cdn.skype.com/sdk/v1/sdk.js"></script>

<hr/>

<a href='https://join.skype.com/bot/531dee3c-394c-4350-ba07-2401c918c415'><img src='https://dev.botframework.com/Client/Images/Add-To-Skype-Buttons.png' /></a>