@model WebBotPrototypes.Models.Chat

<h2>Direct Line Bot Example</h2>

@using (Html.BeginForm("Index", "DirectLineChat", FormMethod.Post))
{
    <p>
        Hello: @((User.Identity.IsAuthenticated == true)
        ? User.Identity.Name
        : "[Unknown]")
    </p>
    @Html.TextBoxFor(m => m.ChatMessage,
    new { style = "width:600px" })
    <input type="submit" value="Send" />
}
<br />
<p>@Html.Raw(Model.ChatResponse)</p>
